html,
body {
    margin: 0px;
    overflow-x: hidden;

    background-color: #000000;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;

    background-position: center;
    background-size: cover;
    background-image: url("img/background.jpg");
    filter: brightness(500%) blur(5px);
    opacity: 0.2;

    animation: bg-fade 10s forwards;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    background-color: transparent;
}

.top-bar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
}

.dock {
    width: 400px;
    max-width: 50%;
    height: auto;
    max-height: 400px;

    background-color: #000000;
    border-radius: 5px;
}

.dock-items {
    display: flex;
    flex-direction: column;
    margin: 3%;
    gap: 10px;
}

.dock-item {
    width: auto;
}

.dock-title {
    color: #ffffff;
    font-size: 20px;
    font-family: "sinistre";
    font-weight: 83;
    letter-spacing: 2px;
    text-decoration: none;
}

.dock-description {
    color: #ffffff;
    font-size: 15px;
    font-family: "sinistre";
    font-weight: 83;
    letter-spacing: 2px;
    text-decoration: none;
}

.dock-image {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    position: relative;

    background-image: url("img/image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert();
}

.title-button {
    padding-right: 3%;
    position: relative;

    color: #ffffff;
    font-size: 20px;
    font-family: "sinistre";
    font-weight: 83;
    letter-spacing: 2px;
    text-decoration: none;
}

.title-button:hover {
    text-decoration: underline;
}

.menu,
.menu-links {
    height: auto;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: relative;
}

.menu {
    width: 200px;
    max-width: 20%;
}

.menu-links {
    width: auto;
}

.menu-title {
    color: #ffffffa1;
    font-size: 20px;
    font-family: "sinistre";
    font-weight: 100;
    letter-spacing: 2px;

    animation: fade 10s forwards;
}

.menu-title:hover {
    text-decoration: underline;
}

.menu-item {
    color: #0000008b;
    font-size: 20px;
    font-family: "sinistre";
    font-weight: 83;
    letter-spacing: 2px;
    text-overflow: ellipsis;
    text-decoration: none;
}

.menu-item:hover {
    color: #ffffffa1;
    cursor: pointer;
    animation: hover-slide 0.1s forwards;
}

.list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;

    gap: 20px;
}

.list-item {
    height: 150px;
    width: 30%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    overflow: hidden;

    background-color: #000000;
    border-radius: 10px;
}

.project-title {
    padding-left: 20px;
}

.project-title-text {
    color: #ffffff;
    font-size: 15px;
    font-family: "sinistre";
    font-weight: 83;
    letter-spacing: 2px;
    text-decoration: none;
}

.project-title-text:hover {
    text-decoration: underline;
}

.project-description {
    padding-left: 20px;
    margin-right: 10px;
}

.project-description-text {
    color: #ffffff;
    font-size: 10px;
    font-family: "sinistre";
    font-weight: 83;
    letter-spacing: 2px;
    text-decoration: none;
}

.exploring-worlds-text {
    color: #ffffffae;
    font-size: 15px;
    font-family: "sinistre";
    font-weight: 83;
    letter-spacing: 2px;
    text-decoration: none;
}

.bottom-bar {
    width: 100%;
    height: 100%;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    background-color: #000000;
}

.preview {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: invert();
}

.preview-text {
    color: #000000;
    font-size: 15px;
    font-family: "sinistre";
    font-weight: 83;
    letter-spacing: 2px;
    text-decoration: none;
}

.projects-preview-text {
    color: #ffffffae;
    font-size: 15px;
    font-family: "sinistre";
    font-weight: 83;
    letter-spacing: 2px;
    text-decoration: none;

    animation: fade 10s forwards;
}

@keyframes hover-slide {
    0% {
        padding-left: 0px;
    }

    100% {
        padding-left: 3px;
    }
}

@keyframes fade {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fade-2 {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 20%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes bg-fade {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 0.2;
    }
}

@font-face {
    font-family: "stardom";
    src: url("fonts/Stardom-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "bioma";
    src: url("fonts/PlantasiaBioma-Regular.otf") format("opentype");
}

@font-face {
    font-family: "bioma";
    src: url("fonts/PlantasiaBioma-Italic.otf") format("opentype");
    font-style: italic
}

@font-face {
    font-family: "sinistre";
    src: url("fonts/SinistreVF.woff2") format("woff2");
}

@font-face {
    font-family: "nyghtserif-regular";
    src: url("fonts/NyghtSerif-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "nyghtserif-regularitalic";
    src: url("fonts/NyghtSerif-RegularItalic.woff2") format("woff2");
}

@font-face {
    font-family: "nyghtserif-light";
    src: url("fonts/NyghtSerif-Light.woff2") format("woff2");
}

@font-face {
    font-family: "nyghtserif-lightitalic";
    src: url("fonts/NyghtSerif-LightItalic.woff2") format("woff2");
}

@font-face {
    font-family: "nyghtserif-medium";
    src: url("fonts/NyghtSerif-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "nyghtserif-mediumitalic";
    src: url("fonts/NyghtSerif-MediumItalic.woff2") format("woff2");
}

@font-face {
    font-family: "nyghtserif-bold";
    src: url("fonts/NyghtSerif-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "nyghtserif-bolditalic";
    src: url("fonts/NyghtSerif-BoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "nyghtserif-dark";
    src: url("fonts/NyghtSerif-Dark.woff2") format("woff2");
}

@font-face {
    font-family: "nyghtserif-darkitalic";
    src: url("fonts/NyghtSerif-DarkItalic.woff2") format("woff2");
}