html,
body {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

.no-scroll {
    overflow: hidden;
}

body {
    background-color: rgb(8, 8, 9);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    background: linear-gradient(180deg, rgba(8, 8, 9, 0.5) 0%, rgb(8, 8, 9) 50%), url("img/bg.png");
}

.top-bar {
    position: fixed;
    width: 100%;
    height: 100px;

    background-color: rgb(3, 3, 4);

    border-style: solid;
    border-width: 0px 0px 1.5px 0px;
    border-color: rgba(255, 255, 255, 0.1);

    display: flex;
    justify-content: center;
    gap: 50px;

    z-index: 1;
}

.bar-title {
    color: rgb(243, 243, 243);

    font-family: 'PlantasiaArbo-Bold';
    font-size: 1.15em;
    text-decoration: none;

    margin-top: 55px;
}

.floating-dock {
    position: relative;
    
    background-color: rgba(16, 16, 17, 0.99);

    display: flex;
    flex-direction: column;
    justify-content: left;

    border-style: solid;
    border-radius: 15px;
    border-width: 1.5px;
    border-color: rgba(243, 243, 243, 0.1);
}

.standalone {
    position: absolute;

    width: 500px;
    max-width: 60%;
    height: auto;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 5px;

    box-shadow: 0px 0px 40px 10px rgba(8, 8, 9, 1);
}

.title {
    color: rgb(176, 186, 164);

    margin: 15px 15px 0px 15px;

    font-family: 'PlantasiaBioma-Regular';
    font-size: 2em;
    font-weight: 900;
}

.glass-blur {
    filter: blur(100px);
}

.desc {
    color: rgb(176, 186, 164);

    margin: 15px 15px 0px 15px;

    font-family: 'FairfaxHD';
    font-size: 1.25em;
}

.dock-socials {
    width: 100%;
    height: 50px;

    margin: 10px;

    display: flex;
    justify-content: left;
}

.socials {
    width: 50px;
    height: 50px;

    background-color: rgb(16, 16, 17);
    color: rgb(176, 186, 164);

    margin-right: 10px;
    overflow: hidden;

    border-style: solid;
    border-radius: 15px;
    border-width: 1.5px;
    border-color: rgba(243, 243, 243, 0.05);

    box-shadow: 0px 0px 10px 5px rgba(8, 8, 9, 0);

    animation: fadeSocialsBorderOut forwards ease 0.5s;
}

.socials:hover {
    cursor: pointer;

    animation: fadeSocialsBorderIn forwards ease 0.2s;
}

.icon {
    width: 50%;
    margin: 25%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    filter: invert(98%) sepia(1%) saturate(1642%) hue-rotate(303deg) brightness(114%) contrast(91%); /* black -> 243, 243, 243 */
}

.cursor-particles {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: rgb(243, 243, 243);

    pointer-events: none;

    animation: cursorParticles forwards ease 2s;
}

.centered_empty {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unfinished {
    color: rgb(176, 186, 164);

    font-family: 'FairfaxHD';
    font-size: 1.25em;
}

.end {
    margin-bottom: 10px;
}

.reel-container {
    position: absolute;
    width: 60%;
    height: auto;

    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);

    display: flex;
    gap: 10px;
    align-items: start;
}

.dock-reel {
    width: 100%;
    height: auto;

    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: start;
}

.used-programs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.used-program {
    position: relative;

    width: 30px;
    height: 30px;

    border-style: solid;
    border-radius: 15px;
    border-width: 1.5px;
    border-color: rgba(243, 243, 243, 0.05);

    display: flex;
    justify-content: center;
    align-items: center;
}

.program-icon {
    width: 50%;
    margin: 25%;
}

.larger-icon {
    width: 80%;
    height: 80%;
    margin: 10%;
}

.whiteout {
    filter: invert(98%) sepia(1%) saturate(1642%) hue-rotate(303deg) brightness(114%) contrast(91%); /* black -> 243, 243, 243 */
}

.project-image-container {
    position: relative;
    overflow: hidden;

    width: 95%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    border-style: solid;
    border-radius: 15px;
    border-width: 1.5px;
    border-color: rgba(243, 243, 243, 0.05);
}

.project-image-slice {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link {
    color: rgb(151, 224, 230);

    font-family: 'FairfaxHD';
    font-size: 1.25em;
    text-decoration: underline;
}

@keyframes fadeSocialsBorderIn {
    0% {
        border-style: solid;
        border-radius: 15px;
        border-width: 1.5px;
        border-color: rgba(243, 243, 243, 0.05);

        box-shadow: 0px 0px 10px 5px rgba(8, 8, 9, 0);
    }
    100% {
        border-style: solid;
        border-radius: 15px;
        border-width: 1.5px;
        border-color: rgba(243, 243, 243, 0.1);

        box-shadow: 0px 0px 10px 5px rgba(8, 8, 9, 0.5);
    }
}

@keyframes fadeSocialsBorderOut {
    0% {
        border-style: solid;
        border-radius: 15px;
        border-width: 1.5px;
        border-color: rgba(243, 243, 243, 0.1);

        box-shadow: 0px 0px 10px 5px rgba(8, 8, 9, 0.5);
    }
    100% {
        border-style: solid;
        border-radius: 15px;
        border-width: 1.5px;
        border-color: rgba(243, 243, 243, 0.05);

        box-shadow: 0px 0px 10px 5px rgba(8, 8, 9, 0);
    }
}

@keyframes cursorParticles {
    0% {
        opacity: 100%;
    }
    100% {
        height: 4px;
        opacity: 0%;
    }
}

@font-face {
    font-family: 'Peridia-Regular';
    src: url("fonts/PeridiaDisplayTRIAL-Regular.otf");
}

@font-face {
    font-family: 'Peridia-Light';
    src: url("fonts/PeridiaDisplayTRIAL-Light.otf");
}

@font-face {
    font-family: 'PlantasiaArbo-Bold';
    src: url("fonts/PlantasiaArbo-Bold.otf");
}

@font-face {
    font-family: 'PlantasiaBioma-Regular';
    src: url("fonts/PlantasiaBioma-Regular.otf");
}

@font-face {
    font-family: 'HIKARUMONO-Regular';
    src: url("fonts/HIKARUMONO-Regular.otf");
}

@font-face {
    font-family: 'FairfaxHD';
    src: url("fonts/FairfaxHD.ttf");
}
